@import url('https://fonts.googleapis.com/css2?family=NomeDaFonte&display=swap')
 
 // Cores
$primary-color: #a600ff
$secondary-color: #2ecc71
$text-color: #050505
$text-white: #ffffff
$background-color: #f4f4f4
$secondary-color: #fff
$bg-light: #f9f9f9

// Tipografia
$font: Red Hat Display, Arial

// Espaçamentos
$spacing-unit: 4px

// Breakpoints
$breakpoint-xs: 320px
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px

// Container
$container-max-width: 1200px
$container-padding: 16px

.container
  max-width: $container-max-width
  margin: 0 auto
  padding: 0 $container-padding
  display: flex
  flex-direction: column
  align-items: center

// Estilos para Botões
$button-padding: 12px 20px
$button-radius: 5px
$button-font-family: $font

.button
  padding: $button-padding
  border-radius: $button-radius
  font-family: $button-font-family
  border: none
  color: $text-white
  background-color: $primary-color
  transition: background-color 0.3s ease

.button--secondary
  background-color: $secondary-color



